@using GameStoreMVC.ViewModels.ProductViewModel;
@model ProductReview;

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>@Model.Product.Title</h3>
                <span class="breadcrumb"><a asp-controller="Home" asp-action="Index">Home</a>  >  <a asp-controller="Shop" asp-action="Index">Shop</a>  >  @Model.Product.Title</span>
            </div>
        </div>
    </div>
</div>

<div class="single-product section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/uploads/products/@Model.Product.ImagePath" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <h4>@Model.Product.Title</h4>
                <span class="price">$@Model.Product.Price</span>
                <form id="qty" action="#">
                    <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Product.Id"><button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button></a>
                </form>
                <ul>
                    <li><span>Game ID:</span> @Model.Product.Game.Title</li>
                    <li><span>Genre:</span> <a href="#">Action</a>, <a href="#">Team</a>, <a href="#">Single</a></li>
                    <li><span>Multi-tags:</span> <a href="#">War</a>, <a href="#">Battle</a>, <a href="#">Royal</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="sep"></div>
            </div>
        </div>
    </div>
</div>
<div style="margin:0 0 60px 0;" class="contact-page section">
    <div class="container">
        <div style="margin-bottom:60px;" class="section-heading">
            <h6>Review</h6>
            <h2>Write your thoughts</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div style="margin:0px" class="right-content">
                    <div class="row">
                        <form id="contact-form" asp-action="SendReview" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="hidden" asp-for="Product.Id" />
                                        <textarea asp-for="Review.Message" id="message" placeholder="Your Message"></textarea>
                                         <span asp-validation-for="Review.Message" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews (@Model.Product.Reviews.Count)</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <p>@Model.Product.Desc</p>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                @if (Model.Product.Reviews != null && Model.Product.Reviews.Any())
                                {
                                    @foreach (var item in Model.Product.Reviews)
                                    {
                                        <div class="comments">
                                            <p style="color:deepskyblue;">@item.Username</p>
                                            <p>@item.Message</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No reviews yet. Be the first to leave a review!</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section categories related-games">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Action</h6>
                    <h2>Related Games</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="shop.html">View All</a>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="product-details.html"><img src="assets/images/categories-01.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="product-details.html"><img src="assets/images/categories-03.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="product-details.html"><img src="assets/images/categories-04.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>